* {
    box-sizing: border-box;
}

.button-store {
    display: inline-block;
    background-color: #252c41;
    font-size: 20px;
    color: #fff;
    font-family: Arial, Helvetica, 'Roboto', sans-serif;
    border: 2px solid #252c41;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
}

.button-store-second {
    display: inline-block;
    background-color: transparent;
    font-size: 20px;
    border: 2px solid #fff;
    margin-right: 40px;
    color: #fff;
    width: 218px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-family: Arial, Helvetica, 'Roboto', sans-serif;
    text-align: center;
}