.input-search > .content {
  background: transparent;
  border: none;
  color: inherit;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  width: 358px;
  margin-right: 65px;
  padding: 8px;
  vertical-align: bottom;
}

.input-search > .content::placeholder {
  color: #fff;
}

@media (max-width: 955px) {
  .input-search {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-88%);
    transition: transform 200ms linear;
  }
  .input-search > .content {
    background-color: #fff;
    color: #000;
    margin-right: 0;
    vertical-align: middle;
  }
  .input-search > .content::placeholder {
    color: #000;
  }
  .input-search > .icon {
    background-color: #fff;
    box-sizing: border-box;
    width: 40px;
    height: 41px;
    vertical-align: middle;
  }
  .input-search.-active {
    transition: transform 600ms cubic-bezier(0, 0, 0.96, 1.26);
    transform: translateX(0);
  }
}
