.photo-product {
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    height: 554px;
    width: 41.6667%;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}