div {
    margin: auto 0;
    width: 100%;
    padding: 118px 0;
}

header {
    background-color: #e24647;
    color: #fff;
    overflow: hidden;
    margin: 0 115px;
    padding: 55px 60px 95px;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, 'Roboto', sans-serif;
    float: left;
}

nav {
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    float: right;
}

nav > a {
    text-decoration: none;
    color: inherit;
    margin-right: 60px;
}

main {
    margin: 0 115px;
}

.btn-black {
    background-color: #252c41;
    border: 2px solid #252c41;
    color: white;
    padding: 17px 60px;
}

.btn {
    vertical-align: middle;
    font-family: Arial, Helvetica, 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}